html {
  font-family:"Playwrite NO", cursive;
  background-color: #00539f;
}

body {
  width: 600px;
  margin: 0px auto;
  margin-top: 100px;
  background-color: #ff9500;
  padding: 0px 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 5px 5px 4px black;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 10px auto;
  max-width: 50%;
}

button {
  font-size:16px;
  padding: 5px 30px;
  display: block; 
  margin: 0 auto;
}